@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Suez+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

.Title {
    font-family: 'Suez One', serif;
}

.List {
    font-size: large;
    font-family: 'Suez One', serif;
}

.ButtonShadow {
    box-shadow: 0 5px 10px black;
}

.SimplePromotionsVideo {
    box-shadow: 0 5px 10px black;
    border-style: solid;
    border-radius: 5px;
    border-color: rgb(183, 0, 255);
}

.SimplePromotionsv2 {
    text-shadow: 0 5px 5px black;
    box-shadow: 0 0 10px black;
    margin-top: 15px;
    margin-bottom: 15px;
    border-radius: 10px;
    display: grid;
    justify-content: center;
    align-items: center;
    min-width: 100%;
    background: linear-gradient(rgb(0, 182, 142), rgb(0, 145, 182));
    background-position: center;
    background-size: cover;
}

.SimplePromotions {
    text-shadow: 0 5px 5px black;
    box-shadow: 0 0 10px black;
    border-style: solid;
    border-radius: 5px;
    border-color: rgb(183, 0, 255);
    margin-top: 15px;
    margin-bottom: 15px;
    border-radius: 10px;
    display: grid;
    justify-content: center;
    align-items: center;
    min-width: 100%;
    background: url('../images/bg2Gradient.jpg');
    background-position: center;
    background-size: cover;
    padding: 10px;
}

.Description {
    text-shadow: 0 5px 5px black;
    font-size: larger;
    font-family: 'Lato', sans-serif;
}

.LoginHeader {
    text-shadow: 0 0 10px black;
    background: linear-gradient(to right,  rgb(255, 0, 242), rgb(0, 174, 255));
    margin-top: 20px;
    border-style: solid;
    border-radius: 10px;
    padding: 10px;
}

.Card {
    color: white;
    text-shadow: 0 0 10px black;
    background: url('../images/bgGradient.jpg');
    border-radius: 5px;
    box-shadow: 0 0 10px black;
    padding: 5px;
    border-style: solid;
    border-radius: 5px;
    border-color: rgb(183, 0, 255);
}

.CardInfo {
    text-shadow: 0 0 10px black;
    color: white;
    background: linear-gradient(to right, purple, magenta);
    padding: 1.5rem;
    border-radius: 10px;
}

.DashboardPicture {
    background: linear-gradient(to right, green, lime);
    border-radius: 50%;
    box-shadow: 0 0 10px black;
    padding: 0.2rem;
}

.SubmitPromo {
    border-color: rgb(130, 0, 182);
    border-style: solid;
    border-width: 5px;
    border-radius: 5px;
    background: linear-gradient(rgb(140, 0, 255), rgb(204, 0, 255));
}

.Background {
    background-size: cover;
    background-position: center;
    background-image: url("../images/chillingBG.jpg");
}

.Gwardo {
    box-shadow: 0 0 10px black;
    padding: 5px;
    background: linear-gradient(rgb(255, 0, 98), rgb(238, 0, 238));
    border-radius: 30%;
}

.Success {
    background: linear-gradient(to right, green, lightgreen)
}

.PromotionCard {
    text-shadow: 0 0 10px black;
    color: white;
    box-shadow: 0 0 10px black;
    background: linear-gradient(rgb(255, 0, 98), rgb(238, 0, 238));
    margin-top: 2%;
    margin-bottom: 2%;
    padding: 2%;
    border-radius: 5px;
}

.CardTitle {
    display: flex;
}

.PromotionName {
    background: green;
}

.PromotionStatus {
    background: rgb(255, 123, 0);
}

.HeaderImage {
    width: 100%;
    margin-top: -2%;
    margin-bottom: 10%;
    min-height: 11vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.FormGroup {
	margin: 0 15px 20px;
	padding: 0;
	border-style: none;
	background-color: #7795f8;
	will-change: opacity, transform;
	box-shadow: 0 6px 9px rgba(50, 50, 93, 0.06), 0 2px 5px rgba(0, 0, 0, 0.08), inset 0 1px 0 #829fff;
	border-radius: 4px;
}